/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

 @import 'foundation_and_overrides';
 @import '_settings';
 @import 'articles';
 @import 'comments';
 @import 'welcome';
 @include foundation-button;

 $main-color: #96C49A;
 $secondary-color: #E5C32E;
 $font-sans: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;

 body {
   background-image: url('newspaper collage.jpg');
   font-family: $font-sans;
 }

a {
  color: blue;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

tr {
  background-color: $secondary-color;
}
